@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.banner {
    display: flex;
    justify-content: space-around;
    margin: 0 120px;
    padding: 80px;
}

.banner_right img {
    width: 550px;
    height: 450px;
}

.banner_title {
    font-size: 70px;
    color: #fff;
}

.anchor_button {
    text-decoration: none;
    background-color: #e02c6d;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}

header {
    background-color: #2d25a0;
}

.container{
    margin: 100px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}


.player{
    width: 330px;
    height: 450px;
    box-shadow: 0px 0px 40px #ddd;
    padding: 15px;
    border-radius: 10px;
}

.player_img img{
    width: 100%;
    border-radius: 10px;
}

.player_title{
    font-size: 30px;
}

/* Best Player Ratting */
.blogs{
    display: flex;
}
.blog{
    width: 362px;
    height: 307px;
    border: 2px solid brown;
    margin: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.blog_photo img{
    width: 100%;
    border-radius: 5px;

}

.blog_details{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    display: none;
    height: 298px;
    padding: 0 10px 10px;
    opacity: .7;
}
.blog:hover .blog_details{
    display: block;
}

.blog_details h4{
    text-align: center;
    background-color: aqua;
    padding: 5px;
    border-radius: 5px;
}

.blog_details span{
    font-size: 130px;
}

.blog:hover .blog_photo{
    transform: scale(1.5) rotate(360deg);
    transition: transform 2s ease-in-out;
}

.section_title h2 {
    font-size: 40px;
}

.section_title{
    text-align: center;
    margin-bottom: 40px;
}
hr{
    width: 600px;
}

